<div class="sidebar"
     [ngClass]="{ 'sidebar-collapsed': !(openSidebar | async) }">

  <div class="sidebar-overlay"
       [ngStyle]="{ 'transition': 'background-color ' + .5 + 's, visibility ' + .5 + 's' }"
       [ngClass]="{ 'sidebar-overlay-collapsed': !(openSidebar | async) }"
       (click)="onClose()"></div>

  <div class="sidebar-container" [ngStyle]="getSidebarStyle((openSidebar | async))">
    <div class="sidebar-content-container">
      <ng-container *ngTemplateOutlet="sidebarTemplateRef"></ng-container>
    </div>
  </div>
</div>
