@import "variables";

.stepper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;

  &:last-child {
    margin-right: 0;
  }
}

.step {
  margin-top: 2rem;
  background-color: $ailos-white;
  z-index: 2;
  border: $ailos-blue 2px solid;
  border-radius: 100%;
  height: 1.6rem;
  width: 1.6rem;
}

.disabled {
  z-index: 2;
  margin-top: 2rem;
  background-color: $ailos-gray-4;
  border-radius: 100%;
  height: 1.6rem;
  width: 1.6rem;
}

.connector {
  position: absolute;
  left: 1.6rem;
  width: 92%;
  margin-bottom: .1rem;
  border-bottom: $ailos-gray-4 2px solid;
}

.label {
  margin-top: .5rem;
  color: $ailos-blue;
  font-weight: 600;
}
