<div class="stepper">
  <div class="step-wrapper">
    <div class="step"></div>
    <div class="label">Início</div>
  </div>
  <div class="step-wrapper">
    <div class="disabled"></div>
    <div class="label">Documentos</div>
  </div>
  <div class="connector"></div>
  <div class="step-wrapper">
    <div class="disabled"></div>
    <div class="label">Dados Cadastrais</div>
  </div>
  <div class="step-wrapper">
    <div class="disabled"></div>
    <div class="label">Admissão</div>
  </div>
</div>
