$ailos-blue: #165C7D;
$ailos-blue-light: #009ED0;
$ailos-blue-medium: #007D8A;
$ailos-orange: #FFA300;
$ailos-green: #00C246;

$ailos-critical-red: #C13018;
$ailos-critical-orange: #FFA300;
$ailos-critical-yellow: #FCD610;
$ailos-critical-green: #00C246;
$ailos-critical-blue: #009ED0;

$ailos-black: #040F14;
$ailos-gray-4: #889499;
$ailos-gray-3: #A7B0B5;
$ailos-gray-2: #C6CED1;
$ailos-gray-1: #E7EEF1;


$ailos-blue-140: #012F44;
$ailos-blue-120: #013F5C;
$ailos-blue-100: #165C7D;
$ailos-blue-80: #457D97;
$ailos-blue-60: #739DB1;
$ailos-blue-40: #A2BECB;
$ailos-blue-20: #D0DEE5;
$ailos-orange-120: #C37D00;
$ailos-orange-100: #FFA300;
$ailos-orange-80: #FFB533;
$ailos-orange-60: #FFC866;
$ailos-orange-40: #FFDA99;
$ailos-orange-20: #FFEDCC;

$ailos-background: #E8EFF2;
$ailos-white: #FFF;
$ailos-secondary-dark: #e6ecee;

$default-font-size: 1.6rem;
$menu-width: 8rem;
$navbar-height: 9rem;
