<div class="sidebar">
  <div class="sidebar__logo">
    <img src="assets/logoailos.png" alt="logo" class="sidebar__logo-image">
  </div>
  <div class="sidebar__icon disabled">
    <i class="material-icons">menu</i>
  </div>
  <div class="sidebar__icon">
    <i class="material-icons">search</i>
  </div>
  <div class="sidebar__icon">
    <i class="material-icons">star_border</i>
  </div>
  <div class="sidebar__icon">
    <i class="material-icons">textsms</i>
  </div>
  <div class="sidebar__icon">
    <i class="material-icons">tune</i>
  </div>
  <div class="sidebar__icon">
    <i class="material-icons">account_balance</i>
  </div>
</div>

