@import "variables";

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: $menu-width;
  background-color: $ailos-blue;
  overflow-x: hidden;

  &__icon {
    margin-top: 1.8rem;
    color: $ailos-white;

    &.disabled {
      color: $ailos-blue-60;
      margin-bottom: .6rem;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

img {
  margin-top: .8rem;
  height: 6.25rem;
  width: 6.25rem;
}
