<app-info-sidebar [sidebarTemplateRef]="sidebar"></app-info-sidebar>

<div class="registration">
  <div class="stepper row">
    <app-stepper [current-step]="1"></app-stepper>
  </div>

  <div class="search-title row">
    <h1 class="main__title">Informe o CPF do futuro cooperado (a)</h1>
    <h3 class="main__subtitle">Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente.<br>Digite apenas os números (sem pontos ou traços).</h3>
  </div>

  <div class="registration__search row">
    <app-input label="CPF"
               [state]="!isValid && isChanged ? 'errors' : 'valid'"
               validation-text="Informe um CPF válido"
               mask="000.000.000-00"
               [input-value]="registration"
               (inputValueChange)="registration = $event"
               (keydown.enter)="findByRegistration($event)"></app-input>
    <app-button style-class="tertiary" (click)="findByRegistration($event)" (keydown.enter)="findByRegistration($event)">Consultar por CPF</app-button>
  </div>

  <div class="registration__cards row" *ngIf="isValid">
    <app-card class="registration__cards--1">
      <h1 class="bold" title>Situação cadastral do CPF</h1>
      <h3 class="subtitle" subtitle>Consulta na Receita Federal</h3>
      <div class="content" content>
        <i class="material-icons">person</i>
        <div class="info">
          <h3 class="subtitle">Nome</h3>
          <h1 class="title">Mariane de Sousa Oliveira</h1>
        </div>
      </div>
      <div class="card-footer" footer>
        <i class="material-icons">check_circle_outline</i>
        <div class="info">
          <h3 class="subtitle">Situação do CPF</h3>
          <h1 class="title">Regular</h1>
        </div>
      </div>
    </app-card>
    <app-card class="registration__cards--2">
      <h1 class="bold" title>Conta aplicação</h1>
      <h3 class="subtitle" subtitle>Cooperativa Viacredi</h3>
      <div class="content" content>
        <i class="material-icons">credit_card</i>
        <div class="info">
          <h3 class="subtitle">Número da conta</h3>
          <h1 class="title">557932-4</h1>
        </div>
      </div>
      <div class="card-footer" footer>
        <a href="#">Duplicar conta</a>
      </div>
    </app-card>
    <app-card class="registration__cards--3">
      <h1 class="bold" title>Conta corrente</h1>
      <h3 class="subtitle" subtitle>Cooperativa Viacredi</h3>
      <div class="content" content>
        <i class="material-icons">credit_card</i>
        <div class="info">
          <h3 class="subtitle">Número da conta</h3>
          <h1 class="title">778461-8</h1>
        </div>
      </div>
      <div class="card-footer" footer>
        <a href="#">Duplicar conta</a>
      </div>
    </app-card>
  </div>


</div>
<div class="footer">
  <app-button style-class="primary" *ngIf="isValid">Iniciar nova admissão</app-button>
  <app-button style-class="secondary" (click)="sidebarService.setIsOpen(true)">Dicas para admissão</app-button>
</div>


<ng-template #sidebar>
  <div class="sidebar-content">
    <div class="info">
      <h1 class="info__title">Check-list para abertura da conta</h1>
      <h3 class="info__subtitle">Confira algumas dicas que irão lhe ajudar este atendimento para que a admissão aconteça da melhor forma possível.</h3>

      <ul class="checkbox-list">
        <li>
          <app-checkbox #checkbox1 (change)="true">Conheça seu cooperado</app-checkbox>
          <ul class="item-list" *ngIf="checkbox1.isChecked">
            <li>O que traz você até a Cooperativa?</li>
            <li>O que é mais importante na sua vida?</li>
            <li>Você tem algum sonho?</li>
          </ul>
        </li>
        <li>
          <app-checkbox #checkbox2 (change)="true">Fale sobre a Cooperativa</app-checkbox>
          <ul class="item-list" *ngIf="checkbox2.isChecked">
            <li>Modelo de negócio: direito a voto, transpar6encia na gestào, PROGRID, retorno das sobras, taxas atrativas;</li>
            <li>Rede de atendimento: App, Conta Online, SAC, Caixxas Eletrônicos (compartilhados entre as Cooperativas), Postos de Atendimento.</li>
          </ul>
        </li>
        <li>
          <app-checkbox #checkbox3 (change)="true">Documentos e comprovações necessárias </app-checkbox>
          <ul class="item-list" *ngIf="checkbox3.isChecked">
            <li>CPF regular na Receita Federal;</li>
            <li>Documento de Identificação (RG, CNH, Carteira de Trabalho, RNM, Carteira Profissional, Passaporte Brasileiro);</li>
            <li>Comprovante de endereço;</li>
            <li>Comprovante de renda.</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="button">
      <app-button class="sidebar-button" style-class="secondary" (click)="sidebarService.setIsOpen(false)">Continuar atendimento</app-button>
    </div>
  </div>
</ng-template>
