@import "variables";

.text-input {
  padding: 1rem;
  max-width: 35rem;
  color: $ailos-gray-4;
  border: $ailos-gray-4 1px solid;
  cursor: pointer;
}

.input-wrapper {
  width: 35rem;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 1.2rem;
}

.errors {
  border: $ailos-critical-red 2px solid;
}

.error-text{
  position: absolute;
  top: 23rem;
  color: $ailos-critical-red;
  font-weight: 100;
}
