@import "variables";

.checkbox {
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  padding: 0;
  margin-bottom: 1rem;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__border {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.4rem;
    height: 1.4rem;

    margin-right: 1rem;
    border: $ailos-black 1px solid;

    border-radius: 0;

    &--filling {
      display: flex;
      justify-content: center;
      width: 1.3rem;
      height: 1.3rem;
      overflow: hidden;

      border-radius: 0;
      background: $ailos-critical-yellow;
      background-size: contain;

      &::after{
        content: '✔';
        text-align: center;
        color: white;
      }
    }
  }
}
