@import "variables";

.navbar {
  position: fixed;
  width: calc(100% - $menu-width);
  height: $navbar-height;
  top: 0;
  left: $menu-width;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: $ailos-white;

  &__title {
    margin-left: 2rem;

    &--1 {
      text-transform: uppercase;
      font-weight: 600;
      font-family: 'Roboto', sans-serif;
    }

    &--2 {
      font-weight: 100;
      color: $ailos-gray-3;
    }
  }


  &__icons {
    min-width: 50rem;
    display: inline-block;

    &--list {
      text-align: center;
      list-style-type: none;
      float: right;
      margin: 1rem;
      padding: 0;
      overflow: hidden;
      display: inline-block;
    }
  }
}

.pill {
  margin: 3rem 1rem 1rem;
  height:25px;
  width:75px;
  padding: .5rem 1.5rem;
  border-radius: 30px;
  border: $ailos-blue 2px solid;
  color: $ailos-blue;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
}

img {
  height: 4rem;
  width: 4rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 50%;
  border: $ailos-blue 2px solid;
  vertical-align: middle;
}

.material-icons {
  vertical-align: middle;
  color: $ailos-blue;
  font-size: 3.2rem;
}

ul > li {
  display: inline;
  text-align: center;
  line-height: $navbar-height;
  vertical-align: middle;
}
