<div class="navbar">
  <div class="navbar__title">
    <h1 class="navbar__title--1">{{title}}</h1>
    <h3 class="navbar__title--2">{{subtitle}}</h3>
  </div>
  <div class="navbar__icons">
    <ul class="navbar__icons--list">
      <li>
        <i class="material-icons">notifications_none</i>
      </li>
      <li class="pill">
        <span class="pill-text">Viacredi</span>
      </li>
      <li>
        <img src="assets/profilepic.jpg" alt="profile picture">
      </li>
    </ul>
  </div>
</div>
